In [1]:
my_list = list()

In [2]:
for number in range(4):
    print(number)

0
1
2
3

In [3]:
for the_number in range(3,5):
    print(the_number)

3
4

In [4]:
for numbers in range(2,11,3):
    print(numbers)

2
5
8

In [5]:
list(range(4))

[0, 1, 2, 3]

In [6]:
scooter_list = ['lime','bird','jump','lemon']
for scooter_number in range(len(scooter_list)):
    print(scooter_number)

0
1
2
3

In [7]:
my_numbers_list = [3,5,9,2]
my_squared_list = [number ** 2 for number in my_numbers_list]
my_squared_list

[9, 25, 81, 4]

In [8]:
my_letters = [x for x in "mystring"]
my_letters

['m', 'y', 's', 't', 'r', 'i', 'n', 'g']

In [9]:
my_letters = []
for letter in "mystring":
    my_letters.append(letter)

my_letters

['m', 'y', 's', 't', 'r', 'i', 'n', 'g']

In [10]:
my_list = [x for x in scooter_list if x[0] == "l"]
my_list

['lime', 'lemon']

In [11]:
my_list = [x.upper() for x in scooter_list if x[0] == 'l']
my_list

['LIME', 'LEMON']

In [12]:
a = [2,3,4]
b = [5,6,7]
c = [8,9,10]

my_list = [a,b,c]
my_list

[[2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [13]:
my_list[0]

[2, 3, 4]

In [14]:
my_list[1]

[5, 6, 7]

In [15]:
my_list[1][2]

7

In [16]:
for x in my_list:
    print(x)

[2, 3, 4]
[5, 6, 7]
[8, 9, 10]

In [17]:
for sub_list in my_list:
    for inner_item in sub_list:
        print(inner_item)

2
3
4
5
6
7
8
9
10

In [18]:
enumerate(['a','b','c'])

In [20]:
list(enumerate(['a','b','c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [21]:
dog_list = ['corgi','beagle','lab']
for the_index, the_dog in enumerate(dog_list):
    print(the_index, the_dog)

0 corgi
1 beagle
2 lab