In [1]:
def my_function():
    #do something
    return

In [3]:
my_function()

In [5]:
def my_function_that_adds():
    z = 21
    print(z+10)
    return z

my_variable = my_function_that_adds()
print(my_variable)

31
21

In [6]:
print(my_function_that_adds())

31
21

In [7]:
def my_function_that_adds_2(first_number,second_number):
    total = first_number + second_number
    return total

In [8]:
my_function_that_adds_2(5,7)

12

In [9]:
second = 5
my_return_value = my_function_that_adds_2(10,second)
my_return_value

15

In [10]:
def second_addition_function(first_number=20,second_number=30):
    total = first_number + second_number
    return total

my_return_value_second = second_addition_function()
my_return_value_second

50

In [11]:
def second_addition_function_amended(first_number=20,second_number=30):
    total = first_number + second_number
    return total

my_return_value = second_addition_function_amended(-10,-25)
my_return_value

-35

In [12]:
def subtraction_function(first_number=20,second_number=30):
    total = first_number - second_number
    return total

my_return_value = subtraction_function(second_number=10,first_number=25)
my_return_value

15

In [13]:
a_string = "why not this string" 
a_string.upper()

'WHY NOT THIS STRING'

In [14]:
help(str.upper)

Help on method_descriptor:

upper(self, /) unbound builtins.str method
    Return a copy of the string converted to uppercase.

In [15]:
my_string = "Beep, BAP, beep, beepidy-beep!"
my_cheap_string = my_string.lower()
my_cheap_string.replace('beep','cheap')

'cheap, bap, cheap, cheapidy-cheap!'

In [35]:
making_a_list = ['item1','item2','item01']

print(str(sorted(making_a_list)).upper())

['ITEM01', 'ITEM1', 'ITEM2']

In [37]:
making_a_dictionary = {
    'stringkey1':'stringvalue1',
    'stringkey2':'stringvalue2',
    'stringkey3':'stringvalue3',
    'stringkey4':'stringvalue4'
}

making_a_dictionary.keys()

dict_keys(['stringkey1', 'stringkey2', 'stringkey3', 'stringkey4'])

In [48]:
dictionary_testing = {
    "key1":"value1"
}

new_value_assignments = dictionary_testing.keys()
new_key_assignments = dictionary_testing.values()
counter = 0
'''
for x in dictionary_testing.keys():
    dictionary_testing[counter] = new_key_assignments[counter]
'''
print(dictionary_testing)

{'key1': 'value1'}

In [ ]:
def somefunction(any_dictionary):    
    new_value_assignments = any_dictionary.keys()
    new_key_assignments = any_dictionary.values()
    for key in any_dictionary:
        counter = 0
        any_dictionary[counter]=new_key_assignments[counter]
        counter +=1
    for values in any_dictionary.values():
        counter = 0
        any_dictionary.values(counter)=new_value_assignments[counter]
        counter +=1
    return any_dictionary

print(somefunction(making_a_dictionary))

{'stringkey1': 'stringvalue1', 'stringkey2': 'stringvalue2', 'stringkey3': 'stringvalue3', 'stringkey4': 'stringvalue4'}

In [40]:
somefunction(making_a_dictionary)

{'stringkey1': 'stringvalue1',
 'stringkey2': 'stringvalue2',
 'stringkey3': 'stringvalue3',
 'stringkey4': 'stringvalue4'}

In [ ]:
'''
couldn't figure out the dictionary parsing, this one was annoying to be quite frank
'''

''

In [ ]:
def my_fun():
    return

def my_funny():
    return "funny"


my_funny()

'funny'

In [4]:
def my_function(number_to_square):
    squared = number_to_square
    return squared

my_function(10)

10

In [6]:
def my_func(number_to_square=10):
    squared = number_to_square
    return squared

my_func()

10

In [7]:
my_var = my_func()
print(my_var)

10

In [8]:
my_function(5)

5